{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Abhishek Yadav</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <meta content="Abhishek Yadav" name="description">
    <meta content="ॐ🔱༒यदुवंशी༒🔱 ॐ" name="keywords">
    <meta content="Abhishek Yadav" name="author">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon"
        href="../static/Images/logoL1.png">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <!--Fonts-->

    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!--FontAwesome-->
    {% comment %} <link rel="stylesheet" href="css/main.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="css/main.min.css"> {% endcomment %}
    {% comment %} <meta http-equiv="refresh" content="2"> {% endcomment %}

</head>

<body class="stop-scroll">
    <!--Start loader-->
    <div class="loader-wrap">
        <div class="loader">
            <span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span
                class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span
                class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span
                class="loader-item"></span>
        </div>
    </div>
    <!--End loader-->

    <!--Start Dots-->
    <div class="dots">
        <div class="active one" data-x="header"></div>
        <div class="two" data-x=".recipes"></div>
        <div class="three" data-x=".fixed-image"></div>
    </div>
    <!--End Dots-->

    <!--Start Header-->
    <header>
        <nav>
            
            <div class="logo">
                <a href="/"><img src="../static/Images/logoL1.png" alt="Abhishek Logo" width="51 px"></a>
            </div>
            <div class="toggle">
                <span class="first"></span>
                <span class="middle"></span>
                <span class="last"></span>
            </div>
            <div class="navigation-bar">
                <ul>
                    <li class="active"><a href="/">Home<span class="underline"></span></a></li>
                    <li><a href="allprojects">Projects<span class="underline"></span></a></li>
                    <li><a href="https://github.com/sanu0711">Github<span class="underline"></span></a></li>
                    <li><a href="https://www.codechef.com/users/sanu711">Codechef<span class="underline"></span></a></li>
                    <li><a href="https://codeforces.com/profile/sanu0711">Codeforces<span class="underline"></span></a></li>
                    <li><a href="https://www.hackerrank.com/profile/_sanu_0711">Hackerrank<span class="underline"></span></a></li>
                    <li><a href="#">Contact<span class="underline"></span></a></li>

                </ul>
            </div>
        </nav>
        <table class="text" >
            <tr>
              <td rowspan="2"><div>
                <div class="image image1">
                    <img src="../static/Images/Abhishek Yadav.png" alt="Self">
                </div>
            </div>
            </td>
            <td><h2>Driven by passion, defined by code."</h2><br><br></td>
            </tr>
            <tr>
              <td><div>
                <!-- <h2>Our life Our Rules</h2> -->
                
                <h1>Abhishek Yadav</h1>
                <div class="arrow">
                    <span class="left"></span>
                    <i class="fas fa-asterisk"></i>
                    <span class="right"></span>
                </div><br>
                <span> I embarked on my journey in the world of technology and programming with a 
                    deep fascination for problem-solving and innovation. My career path has led 
                    me to explore a diverse range of technologies and develop expertise in 
                    Full-Stack Development, Artificial Intelligence, Machine Learning, 
                    and Data Science.</span>
                <a href="allprojects"><div class="button"><button>Explore</button></div></a>
                
            </div></td>
            </tr>
            
          </table>
        <div class="arrow-down">
        </div>
    </header>
    <!--End Header-->
          

    <!--start About Us-->
    <div class="about-us">
        <table>
            <tr>
                
                <td>
                    <div class="text">
                        <h2>About-Me</h2><br>
                        <h3>SDE | Full-Stack Developer | AI/ML & Data Science</h3>
                        <div><i class="fas fa-asterisk"></i></div>
                        <!-- <div><a class="a-CTA" href="#">About Us</a></div> -->
                        <p>Hello, I'm Abhishek Yadav, a passionate Software Development Engineer 
                            and Full-Stack Developer with a keen interest in AI/ML and Data Science. 
                            I am passionate about technology and thrive on challenges that allow me 
                            to apply my skills to real-world problems. With a commitment to continuous 
                            learning and a strong foundation in both software development and data 
                            science, I look forward to contributing to meaningful projects and collaborating 
                            with like-minded individuals in the ever-evolving tech industry.</p>
                    </div>
                </td>
                <td><div class="image-container">
                    <div class="image image1">
                        <img src="../static/Images/Abhi.png"
                            alt="Photo">
                    </div>
                </td>
            </tr>
        </table>
        
    </div>
    <!--End About Us-->

    <!--start Menu-->

    <!--Start fixed-image-->
    <div class="fixed-image">
        <div class="text">
            <h2>Experience</h2><br><br>
            <h3>Technical Head GFG_RGIPT and IEEE_RGIPT SC</h3>
        

        </div>
    </div>
    <!--End fixed-image-->

    <div class="menu">
        <div class="box-model">
        </div>
        <div class="text">
            <h2>Technical</h2><br>
            <h3>Skills</h3>
            <div><i class="fas fa-asterisk"></i></div>
            <p>I specialize in various programming languages, including C, C++, and Python, with a focus on Data Science and Machine Learning. I'm well-versed in utilizing libraries and frameworks such as NumPy, pandas, scikit-learn, Matplotlib, TensorFlow, PyTorch, and Statsmodels. I'm also experienced in deploying applications on platforms like Heroku and 000webhost, and I have a sound understanding of MySQL databases.</p>
            <table class="skills">
                <tr>
                  <td><b>Programming Languages:</b></td>
                  <td> C | C++ | Python (Data Science, Machine Learning)</td>
                </tr>
                <tr>
                  <td><b>Libraries/Frameworks:</b></td>
                  <td>Django, NumPy, pandas, scikit-learn, Matplotlib, TensorFlow, PyTorch, Statsmodels</td>
                </tr>
                <tr>
                  <td><b>Tools / Platforms:</b></td>
                  <td>GitHub, PythonAnywhere, 000webhost, Heroku</td>
                </tr>
                <tr>
                  <td><b>Database:</b></td>
                  <td>MySQL, SQLite</td>
                </tr>
              </table>
            <!-- <div><a class="a-CTA" href="#">View The Full Menu</a></div> -->
        </div>
    </div>
    <!--End Menu-->

    <!--End About Us-->

    <!--Start Footer-->
    <footer>
        <div class="text">
            <h2>ABOUT Me</h2>
            <div><i class="fas fa-asterisk"></i></div>
            <p>Hello, I'm Abhishek Yadav, a passionate Software Development Engineer and 
                Full-Stack Developer with a keen interest in AI/ML and Data Science. 
                I am passionate about technology and thrive on challenges that allow me
                 to apply my skills to real-world problems</p>
        </div>
        <div class="contact-container">
            <div class="social-media">
                <h3>Follow me</h3>
                <div class="links">
                    <a href="https://twitter.com/_sanu_0711"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/sanu0711"><i class="fab fa-github"></i></a>
                    <a href="https://www.instagram.com/_sanu_0711/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/abhishek-yadav-034825220/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="newsletter">
                <h3>Message</h3>
                <form method="post">
                    <input type="email" name="email" placeholder="Type Your Email">
                    <i class="fas fa-envelope"></i><br><br>
                    <input type="text" name="message" placeholder="Message">
                    <i class="fas fa-comment"></i><br><br>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </footer>
    <!--End Footer-->

    <!--Start Copy-Right-->
    <div class="copyright">
        <svg class="svg-up" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve">
            <path fill="#262526"
                d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z">
            </path>
        </svg>
        <i class="fas fa-angle-double-up arrow-up"></i>
        <ul class="info">
            <li>&copy; Abhishek Yadav</li>
            <li>ॐ🔱༒यदुवंशी༒🔱 ॐ</li>
            <li>Uttar Pradesh, India</li>
        </ul>
        <ul class="CTA">
            <li><a href="https://github.com/sanu0711">Designed and Developed by Abhishek Yadav</a></li>
            <!-- <li><a href="https://www.linkedin.com/in/abhishek-yadav-034825220/">Linkdin</a></li> -->
        </ul>
    </div>
    <!--End Copy-Right-->

    <!-- Add your site or application content here -->
    {% comment %} <script src="js/main.js"></script> {% endcomment %}
    {% comment %} <script src="js/main.min.js"></script> {% endcomment %}
</body>

</html>
<!-- partial -->
<script src="../static/js/index.js"></script>
</body>
</html>